@import url('https://fonts.googleapis.com/css2?family=Advent+Pro:wght@100&family=Dancing+Script&display=swap');

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Advent Pro', sans-serif;
    padding: 0;
    margin: 0;
}

ul {
    margin: 0;
    padding: 0;
}

li {
    list-style: none;
}

h2 {
    text-transform: uppercase;
    text-align: center;
    padding-top: 30px;
    font-size: 2em;
}

a {
    text-decoration: none;
    color: black;
}

/* ******************************NAVBAR************************** */

nav {
    overflow: hidden;
    background-color: #FFFAE1;
    position: fixed;
    width: 100%;
    opacity: 0.9;
    padding: 18px;
}

header li {
    float: right;
    font-size: 1.2em;
    padding: 0 16px;
    margin-right: 30px;
}

header li a {
    text-decoration: none;
    display: block;
    text-align: center;
}

#logo {
    font-family: 'Dancing Script', cursive;
    font-weight: bold;
    float: left;
}

/* ******************************IMAGE PRINCIPALE************************** */

#imagePrincipale {
    padding-top: 60px;
    background: url(assets/media/image-principale1.JPG) no-repeat fixed 50% 50%;
    background-size: cover;
    height: 799px;
}

h1 {
    font-family: 'Dancing Script', cursive;
    text-align: center;
    color: antiquewhite;
    font-size: 6em;
    margin-top: 100px;
    text-shadow: 1px 3px 2px black;
}

#premierTrait {
    height: 1px;
    width: 25%;
    margin: -3px auto;
    background-color: #FFFAE1;
    box-shadow: 1px 3px 2px black;
}

h3 {
    text-align: center;
    color: antiquewhite;
    font-size: 3em;
    text-shadow: 1px 3px 2px black;
}

/* ******************************PRESENTATION************************** */

#presentation {
    background-color: #FFFAE1;
    padding: 10px 0px 100px 0px;
}

#textIntro {
    padding: 0px 20%;
}

#prestation {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 30px 10%;
}

.imagesPrestations h4 {
    font-family: 'Dancing Script', cursive;
    text-align: center;
    font-size: 1.8em;
    margin: 15px;
    font-weight: 300;
}

.imagesPrestations img {
    border-radius: 10px;
    box-shadow: 5px 5px 3px 1px rgba(0, 0, 0, 0.7);
    max-height: 250px;
}




/* ******************************TOURISME************************** */

#tourisme {
    height: 1400px;
    background-color: #FFFAE1;
    padding: 1px 2%;
}

#tourisme h2 {
    padding-top: 60px;
}

#ocean {
    background: url(assets/media/ocean1.jpg);
    background-position: center bottom;
    background-size: 100%;
}

#chateau {
    background: url(assets/media/chateau1.JPG);
    background-size: 100%;
    background-position: center bottom;
}

#phare {
    background: url(assets/media/phare1.JPG);
    background-size: 110%;
    background-position: center bottom;
}

#vignoble {
    background: url(assets/media/vignes1.jpg);
    background-position: center bottom;
    background-size: 100%;

}

#tourisme li {
    margin: 65px 100px 0 100px;
    height: 270px;
    width: 55%;
    max-width: 550px;
    float: left;
    box-shadow: 6px 6px 28px -1px rgba(0, 0, 0, 0.75);
}

#tourisme li:hover {
    opacity: 0.5;
    transform: scale(1.05);
    transition: 0.4s ease-in-out;
}

#tourisme p {
    height: 45px;
    width: 235px;
    background-color: rgb(109, 146, 224);
    float: right;
    margin: 50px -180px 0 0;
    font-size: 1.5em;
    text-align: center;
    padding-top: 15px;
    box-shadow: -4px 4px 0 1px rgb(41, 15, 156);
}

#tourisme #chateau,
#tourisme #vignoble {
    float: right;
}

#chateau p,
#vignoble p {
    float: left;
    background-color: rgb(109, 146, 224);
    margin-left: -180px;
    box-shadow: -4px 4px 0 1px rgb(41, 15, 156);
}

/* ******************************FOOTER************************** */

footer {
    background-color: #524a3a;
    color: #FFFAE1;
    padding: 20px 0 10px 0;
    text-align: center;
}

form {
    margin: 0 auto;
    max-width: 900px;
}

input,
textarea,
button {
    border: none;
    width: 55%;
    padding: 15px 10px;
    margin: 1px 0;
    font-size: 1.2em;
    font-family: 'Advent Pro', sans-serif;
    border-radius: 8px;
}

textarea {
    height: 120px;
}

button {
    font-size: 1.5em;
    background-color: #FFFAE1;
}

button:hover {
    background-color: #e6aa34;
    color: #FFFAE1;
    cursor: pointer;
    transition: 0.3s ease-in-out;
}

#deuxiemeTrait {
    height: 1px;
    width: 75%;
    background-color: #FFFAE1;
    margin: 60px auto;
}

#copyrightEtIcons {
    display: flex;
    margin-bottom: 20px;
    padding: 0 10%;
    /* justify-content: space-between; */
}

#copyright {
    width: 50%;
    text-align: left;
    color: #FFFAE1;
}

#icons {
    width: 50%;
    text-align: right;
}

#icons a {
    display: inline-block;
    padding: 0 15px;
    font-size: 1.3em;
    color: #FFFAE1;
}

#icons a:hover {
    transform: scale(1.5);
    transition: 0.1s;
}