@import url('https://fonts.googleapis.com/css2?family=Advent+Pro:wght@100&family=Dancing+Script&display=swap');

body {
    font-family: 'Advent Pro', sans-serif;
    padding: 0;
    margin: 0;
}

ul {
    margin: 0;
    padding: 0;
}

li {
    list-style: none;
}

h2 {
    text-transform: uppercase;
}